[SddmGreeterTheme]
Name=Expose Blue
Description=Expose Blue
Author=Phob1an
Copyright=
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Website=https://www.pling.com/u/phob1an
Screenshot=sddmblue.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=phobian@tutanota.com
Theme-Id=ExposeBlue
Theme-API=2.0
